#map-container,
#map {
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
}
#map-container {
    display: none;
}
html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
[class$="api-load-alpha-banner"] {
    display: none;
}
.body-container {
    background-color: #fff;
}
.panel-translator {
    top: 10px;
    font-size: 18pt;
    position: absolute;
}
.panel-translator-devider {
    position: relative;
    top: 2px;
    display: inline-block;
    border-right: 2px dotted #aaa;
    padding-left: 10px;
    margin-right: 10px;
    height: 16pt;
}
.mt-10 {
    margin-top: 10px;
}
.shadow {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.6));
}
.outdated {
    background-color: #bbb;
    text-decoration: none !important;
}
.outdated-outline {
    box-shadow: 0 0 0 8px rgba(187, 187, 187, 0.4);
}
.outdated-outline-animate {
    animation: outdated-outline-animate-keyframes 2s infinite;
}
.outdated::after {
    border-top: 8px solid #bbb;
}
.outdated[href]:hover {
    text-decoration: underline !important;
}
.excellent-air {
    background-color: #31e060;
}
.excellent-air-outline {
    box-shadow: 0 0 0 8px rgba(49, 224, 96, 0.4);
}
.excellent-air-outline-animate {
    animation: excellent-air-outline-animate-keyframes 2s infinite;
}
.excellent-air::after {
    border-top: 8px solid #31e060;
}
.excellent-air[href]:hover {
    text-decoration: underline !important;
}
.good-air {
    background-color: #a0c936;
}
.good-air-outline {
    box-shadow: 0 0 0 8px rgba(160, 201, 54, 0.4);
}
.good-air-outline-animate {
    animation: good-air-outline-animate-keyframes 2s infinite;
}
.good-air::after {
    border-top: 8px solid #a0c936;
}
.good-air[href]:hover {
    text-decoration: underline !important;
}
.moderate-air {
    background-color: #facf39;
}
.moderate-air-outline {
    box-shadow: 0 0 0 8px rgba(250, 207, 57, 0.4);
}
.moderate-air-outline-animate {
    animation: moderate-air-outline-animate-keyframes 2s infinite;
}
.moderate-air::after {
    border-top: 8px solid #facf39;
}
.moderate-air[href]:hover {
    text-decoration: underline !important;
}
.unhealthy-sensitive-air {
    background-color: #f99049;
}
.unhealthy-sensitive-air-outline {
    box-shadow: 0 0 0 8px rgba(249, 144, 73, 0.4);
}
.unhealthy-sensitive-air-outline-animate {
    animation: unhealthy-sensitive-air-outline-keyframes 2s infinite;
}
.unhealthy-sensitive-air::after {
    border-top: 8px solid #f99049;
}
.unhealthy-sensitive-air[href]:hover {
    text-decoration: underline !important;
}
.unhealthy-air {
    background-color: #f65e5f;
}
.unhealthy-air-outline {
    box-shadow: 0 0 0 8px rgba(246, 94, 95, 0.4);
}
.unhealthy-air-outline-animate {
    animation: unhealthy-air-outline-animate-keyframes 2s infinite;
}
.unhealthy-air::after {
    border-top: 8px solid #f65e5f;
}
.unhealthy-air[href]:hover {
    text-decoration: underline !important;
}
.very-unhealthy-air {
    background-color: #a070b6;
}
.very-unhealthy-air-outline {
    box-shadow: 0 0 0 8px rgba(160, 112, 182, 0.4);
}
.very-unhealthy-air-outline-animate {
    animation: very-unhealthy-air-outline-animate-keyframes 2s infinite;
}
.very-unhealthy-air::after {
    border-top: 8px solid #a070b6;
}
.very-unhealthy-air[href]:hover {
    text-decoration: underline !important;
}
.hazardous-air {
    background-color: #a06a7b;
}
.hazardous-air-outline {
    box-shadow: 0 0 0 8px rgba(160, 106, 123, 0.4);
}
.hazardous-air-outline-animate {
    animation: hazardous-air-outline-animate-keyframes 2s infinite;
}
.hazardous-air::after {
    border-top: 8px solid #a06a7b;
}
.hazardous-air[href]:hover {
    text-decoration: underline !important;
}
@keyframes outdated-outline-animate-keyframes {
    0%,
    100% {
        box-shadow: 0 0 0 8px rgba(187, 187, 187, 0.7);
    }
    50% {
        box-shadow: 0 0 0 8px rgba(187, 187, 187, 0.2);
    }
}
@keyframes excellent-air-outline-animate-keyframes {
    0%,
    100% {
        box-shadow: 0 0 0 8px rgba(49, 224, 96, 0.7);
    }
    50% {
        box-shadow: 0 0 0 8px rgba(49, 224, 96, 0.2);
    }
}
@keyframes good-air-outline-animate-keyframes {
    0%,
    100% {
        box-shadow: 0 0 0 8px rgba(160, 201, 54, 0.7);
    }
    50% {
        box-shadow: 0 0 0 8px rgba(160, 201, 54, 0.2);
    }
}
@keyframes moderate-air-outline-animate-keyframes {
    0%,
    100% {
        box-shadow: 0 0 0 8px rgba(250, 207, 57, 0.7);
    }
    50% {
        box-shadow: 0 0 0 8px rgba(250, 207, 57, 0.2);
    }
}
@keyframes unhealthy-sensitive-air-outline-keyframes {
    0%,
    100% {
        box-shadow: 0 0 0 8px rgba(249, 144, 73, 0.7);
    }
    50% {
        box-shadow: 0 0 0 8px rgba(249, 144, 73, 0.2);
    }
}
@keyframes unhealthy-air-outline-animate-keyframes {
    0%,
    100% {
        box-shadow: 0 0 0 8px rgba(246, 94, 95, 0.7);
    }
    50% {
        box-shadow: 0 0 0 8px rgba(246, 94, 95, 0.2);
    }
}
@keyframes very-unhealthy-air-outline-animate-keyframes {
    0%,
    100% {
        box-shadow: 0 0 0 8px rgba(160, 112, 182, 0.7);
    }
    50% {
        box-shadow: 0 0 0 8px rgba(160, 112, 182, 0.2);
    }
}
@keyframes very-unhealthy-air-outline-animate-keyframes {
    0%,
    100% {
        box-shadow: 0 0 0 8px rgba(160, 106, 123, 0.7);
    }
    50% {
        box-shadow: 0 0 0 8px rgba(160, 106, 123, 0.2);
    }
}
.iqair-geopoint {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    font-family: "Fira Sans", sans-serif;
    border-radius: 29px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 7px 7px;
    position: relative;
    text-decoration: none !important;
    box-sizing: content-box !important;
}
.iqair-geopoint:hover,
.iqair-geopoint:focus,
.iqair-geopoint:active {
    color: #ffffff !important;
}
.iqair-geopoint::after,
.iqair-geopoint::before {
    box-sizing: content-box !important;
}
.pm25-geopoint {
    font-family: "Fira Sans", sans-serif;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 7px;
    position: relative;
}
.pm25-geopoint::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.header {
    display: table;
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
.header-row {
    display: table-row;
}
.header-cell {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    background: transparent;
}
.header-align-right {
    text-align: right;
}
.header-sandw {
    position: relative;
    display: inline-block;
    margin-top: 0;
}
.header-sandw IMG {
    position: relative;
    border: none;
    cursor: pointer;
}
.header-bg {
    background: linear-gradient(
        130deg,
        rgba(146, 207, 240, 0.5),
        rgba(211, 107, 237, 0.7)
    );
}
.header-bg-admin {
    background: linear-gradient(
        130deg,
        rgba(211, 107, 237, 0.7),
        rgba(146, 207, 240, 0.5)
    );
}
.header-bg-loading {
    background: linear-gradient(
        130deg,
        rgba(200, 200, 200, 0.5),
        rgba(60, 60, 60, 0.7)
    );
}
.clicker-sandw {
    position: relative;
    z-index: 1;
}
#clicker,
#player {
    display: none;
}
.panel-top-margin {
    margin-top: 70px;
}
.panel-play {
    margin-top: 10vh;
}
.panel-settings {
    border-top: 2px dashed #555;
    margin-top: 5vh;
    padding-top: 5vh;
    text-align: left;
}
.panel-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100hv;
    transform: translateX(100%);
    transition: 0.3s ease-out;
    font-family: "Fira Sans", sans-serif;
}
.panel {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    overflow: auto;
    padding: 1em;
    background-color: rgba(50, 50, 50, 0.95);
}
.panel-font-size18 {
    font-size: 18pt;
}
.panel-font-size14 {
    font-size: 14pt;
}
.panel-links {
    color: #aaa;
    text-align: center !important;
    margin-bottom: 14px;
    width: auto;
    padding-left: 0px !important;
}
.panel-translator > A {
    text-decoration: none;
    opacity: 0.5;
    transition: 0.5s;
}
.panel-translator > A:hover {
    text-decoration: none;
    opacity: 1;
}
.panel-links > A,
.panel-settings > DIV > A {
    color: #aaa;
    font-family: "Fira Sans", sans-serif;
    text-decoration: none;
}
.panel-links > A:hover,
.panel-settings > DIV > A:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.3s;
}
.ol-rotate {
    left: 25vw;
    width: 50vw;
    text-align: center;
    right: inherit;
    margin-top: 4px;
    background-color: transparent;
}
.ol-rotate > button {
    display: inline-block;
}
.ol-zoom {
    margin-top: -2px;
    height: 10px;
}
.ol-attribution {
    font-family: "Fira Sans", sans-serif;
}
.ol-zoom > button {
    height: 22px;
    width: 22px;
}
#clicker:checked ~ .panel-wrap {
    transform: translateX(0%);
}
.spinner-container {
    font-family: "Fira Sans", sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 10pt;
    color: #888;
    border-bottom: none;
}
.spinner-container > A {
    color: #888;
    border-bottom: 1px dotted #888;
    text-decoration: none;
    transition: 0.5s;
}
.nightmode .spinner-container > A:hover {
    color: #fff;
    border-bottom: 1px dotted #fff;
}
.daymode .spinner-container > A:hover {
    color: #111;
    border-bottom: 1px dotted #111;
}
.spinner {
    color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.spinner:after {
    animation: changeContent 0.8s linear infinite;
    display: block;
    content: "⠋";
    font-size: 80px;
}
.modal {
    overflow: auto !important;
}
.fa-font-class {
    font-family: FontAwesome;
}
/*.toggle-handle,
.toggle,
.toggle-group,
.toggle-off.btn,
.toggle-on.btn,
.btn,
.toggle.btn,
.btn-default {
    max-height: 25px !important;
    min-height: 25px !important;
    height: 25px !important;
    line-height: 0.8em !important;
}*/
.toggle-handle {
    background-color: #ccc;
}
.toggle-off.btn, .toggle-on.btn, .toggle.btn-primary {
    background-color: rgba(75,75,75,1);
    font-weight: bold;
    border: none !important;
}
.toggle-off.btn {
    color: #00ace6;
    /*line-height: 0.8em;*/
}
.toggle-on.btn {
    color: #ffcc00;
    /*line-height: 0.8em;*/
}
.toggle-off.btn:hover, .toggle-on.btn:hover, .toggle.btn-primary:hover {
    background-color: rgba(45,45,45,.7);
    color: #aaa;
    border: none !important;
}
.toggle.btn-default:active {
    background-color: rgba(188,0,0,.7) !important;
    color: #fff !important;
    border: none !important;
}

.daymode .header-bg-admin {
    border-bottom: 1px solid #ddd !important;
}
.nightmode .header-bg-admin {
    border-bottom: 1px solid #000 !important;
}
@keyframes changeContent {
    10% {
        content: "⠙";
    }
    20% {
        content: "⠹";
    }
    30% {
        content: "⠸";
    }
    40% {
        content: "⠼";
    }
    50% {
        content: "⠴";
    }
    60% {
        content: "⠦";
    }
    70% {
        content: "⠧";
    }
    80% {
        content: "⠇";
    }
    90% {
        content: "⠏";
    }
}
@media (min-width: 240px) {
    .panel-wrap {
        width: 100%;
    }
    .header-sandw {
        padding-right: 5px;
    }
}
@media (min-width: 320px) {
    .details-font-size {
        font-size: 12pt;
    }
    .panel-settings {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (min-width: 576px) {
    .details-font-size {
        font-size: 14pt;
    }
    .panel-settings {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (min-width: 768px) {
    .panel-wrap {
        width: 550px;
    }
    .header-sandw {
        padding-right: 20px;
    }
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #fff !important;
}
.tweak-close-button {
    margin-top: -10px !important;
}
A.login-telegram,
A.login-telegram:visited {
    font-size: 39pt;
    color: #229ed9 !important;
    opacity: 0.6;
    text-decoration: none;
    border: none !important;
}
A.login-telegram:hover,
A.login-telegram:active,
A.login-telegram:focus {
    opacity: 1;
}
#login-essentials {
    display: none;
}
.clicker-sandw {
    margin-bottom: 0px !important;
}
A.ethelia-svg-link,
A.ethelia-svg-link:visited {
    opacity: 0.7;
    border: none !important;
    transition: 0.5s;
}
A.ethelia-svg-link:hover,
A.ethelia-svg-link:active,
A.ethelia-svg-link:focus {
    opacity: 1;
}
.daymode {
    background: rgba(255,255,255, 0.5) !important;
}
.nightmode {
    background: rgba(3,3,3, 0.9) !important;
}
.ol-zoom {
    display: none;
}
