.slides { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; }

.slide-background-white {
    background-color: #fff !important;
}

.presi-slide-background {
    width: 100%;
    height: 100vh;
}


.presi-slide-background-tweak {
    -webkit-transform: none !important;
}

.presi-slide-6-background-gradient {
    background: linear-gradient(136deg, rgba(40, 40, 66,1) 0%, rgba(4, 4, 34,1) 70%);
}

.presi-slide-6-background-tweak {
    background-size: 130% 130% !important;
    background-position: -150px -290px !important;
    -webkit-transform: none !important;
}

.presi-slide-7-background-gradient {
    background: linear-gradient(45deg, rgba(235,251,85,.8) 0%, rgba(11,170,116,.2) 30%, rgba(115,3,138,1) 100%);
}

.presi-slide-7-background-tweak {
    background-size: 115% 115% !important;
    background-position: -20px -65px !important;
    -webkit-transform: scaleX(-1) !important;
}

.presi-slide-4-background-gradient {
    background: linear-gradient(300deg, rgba(22,12,84,1) 0%, rgba(74,8,68,1) 38%, rgba(35,66,27,1) 70%, rgba(117,115,0,1) 100%);
}

.presi-slide-8-background-gradient {
    background: linear-gradient(136deg, rgba(235,251,85,.8) 0%, rgba(11,170,116,1) 30%, rgba(145,3,168,1) 100%)
}

.presi-slide-8-background-tweak {
    /*background-size: 135% 135% !important;*/
    background-position: -230px 40px !important;
    -webkit-transform: rotate(10deg) !important;
}

.presi-slide-9-background-gradient {
    background: linear-gradient(45deg, rgba(6,16,66,1) 0%, rgba(124,0,153,1) 67%, rgba(6,6,36,1) 100%);
}

.presi-slide-9-background-tweak {
    background-size: 101% 101% !important;
    background-position: -100px 0px !important;
    -webkit-transform: none !important;
}

.presi-slide-10-background-tweak {
    -webkit-transform: none !important;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.presi-slide-10-background {
    background-color: #fff;
}

.presi-slide-11-background {
    background: linear-gradient(45deg, rgba(6,16,66,1) 0%, rgba(204,48,23,1) 35%,  rgba(232,244,3,1) 100%);
}

.presi-slide-12-background {
    background: linear-gradient(45deg, rgba(91,11,2,1) 0%, rgba(205,178,6,1) 50%, rgba(227,227,17,1) 80%, rgba(169,224,0,1) 100%);
}

.presi-slide-13-background {
    background: linear-gradient(45deg, rgba(129,101,0,1) 0%, rgba(102,168,16,1) 22%, rgba(18,204,44,1) 39%, rgba(8,201,75,1) 46%, rgba(1,111,136,1) 100%);
}

.presi-slide-14-background {
    background: linear-gradient(45deg, rgba(36,198,232,1) 0%, rgba(7,99,203,1) 25%, rgba(35,4,152,1) 52%, rgba(90,0,129,1) 100%);
}

.presi-slide-15-background {
    background: linear-gradient(45deg, rgba(103,36,133,1) 0%, rgba(93,4,129,1) 47%, rgba(115,1,42,1) 100%);
}

.presi-slide-16-background {
    background: linear-gradient(45deg, rgba(59,6,25,1) 0%, rgba(176,1,41,1) 48%, rgba(176,146,1,1) 100%);
}

.presi-slide-17-background {
    background: linear-gradient(45deg, rgba(67,69,10,1) 0%, rgba(6,59,8,1) 18%, rgba(6,16,59,1) 52%, rgba(59,6,53,1) 79%, rgba(59,6,11,1) 100%);
}

.presi-slide-5-background-gradient {
    background: linear-gradient(60deg, rgba(62,3,0,1) 0%, rgba(74,8,69,1) 38%, rgba(27,66,58,1) 78%, rgba(152,102,6,1) 100%);
}

.presi-slide-opacity {
    opacity: .5 !important;
}

.summary {
    padding:50px;
    margin-top:50vh;
    background: linear-gradient(45deg, rgba(13,28,60,.95) 0%, rgba(59,2,58,.95) 100%);
}

.p-marg-5 {
    margin: 5px;
    font-size: 1.3em !important;
}

.bot-marg-20 {
    margin-bottom: 20px;
}

.fontsize-1-3 {
    font-size: 1.3em !important;
}

.fontsize-1-4 {
    font-size: 1.4em !important;
}

.fontsize-1-5 {
    font-size: 1.5em !important;
}

.list-square {
    margin-right:15px;
    font-weight: bold;
    opacity: .3;
}

.text-shadow {
    text-shadow: 1px 1px 0px black;
}

.text-shadow-white {
    text-shadow: 1px 1px 0px white;
}

.presi-slide-1-background {
    background-color: #c6c6c6;
}

.svg-shadow {
    -webkit-filter: drop-shadow( 1px 1px 0px rgba(255, 255, 255, 1));
    filter: drop-shadow( 1px 1px 0px rgba(255, 255, 255, 1));
}

A.enjoy-video {
    z-index: 0;
    background-color: #f3ec78 !important;
    background-image: linear-gradient(318deg, rgba(23,0,252,1) 0%, rgba(255,0,252,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-transform: none !important;
    border-bottom: 2px dotted #000;
}

/* override slides styles */

.side {
    height: 10% !important;
    padding: 30px !important;
}
