.slide2-img {
    border-radius: 15px;
    opacity: .75;
    width: 85%;
}

.nomargin { margin: 0px !important; }
.nopad    { padding: 0px !important; }
.font20   { font-size: 20pt; }
.fclrgrey { color: grey; }
.statscol { display: inline-block; width: 40%; text-align: left; }
.statstxt { font-size: 60pt; font-weight: bold; }
.textnote { display: inline-block; color: grey; width: 30px; }
.mt40pt   { margin-top: 40pt; }
.mt10px   { margin-top: 10px; }
.nomtop   { margin-top: 0px; }
.ml45perc { margin-left: 45%; }
.ml25px   { margin-left: 15px; }
.pl40perc { padding-left: 40%; }
.pl25perc { padding-left: 25%; }
.txtleft  { text-align: left; }
.link     { font-weight: bold; color: #ebb92f; }
.opacity9 { opacity:.9 }
.opacity7 { opacity:.7 }
.opacity3 { opacity:.3 }
.opacity2 { opacity:.2 }
.opacity15  { opacity:.15 }
.wdth50px   { width: 50px; }
.wdth320px  { width: 320px !important; }
.height50vh { height: 50vh; }

.slide4-tab {
    border-radius: 15px;
    padding: 40px;
    width: 860px;
    background-color: rgba(0, 0, 0, .3)
}

.slide4-col-text-1 { font-size: 23pt; display: inline-block; color: #fff; width: 350px; font-weight: bold; }
.slide4-col-text-2 { display: inline-block; color: #fff; width: 210px; text-align: center; font-size: 30pt; }
.slide4-col-text-3 { display: inline-block; color: #fff; width: 210px; opacity: .9;  text-align: center; font-size: 30pt; }

.slide4-h-tweak-1 { display: inline-block; width: 350px; }
.slide4-h-tweak-2 { display: inline-block; width: 210px; text-align:center; }
.slide4-h-tweak-3 { display: inline-block; width: 210px; color:grey; text-align:center; }

.slide5-img { border-radius: 15px; opacity:.9; box-shadow: 0px 0px 20px #000; width: 100%; }

.slide6txt { margin: 5px; font-size: 28pt; }

.slide7-row { display: inline-block; width: 300px; text-align: left; }

.slide8 { margin-top: -20px; text-align: left; padding-left: 38%; color: #150026; }
.slide8txt { margin: 5px; font-size: 38pt; }

.slide10 { margin-top: -7%; text-align: left; padding-left: 10%; }
.slide10-row { display: inline-block; width: 250px; text-align: center; }
.slide10-img { border-radius: 50%; width: 200px; height: 200px; }

.slide11-img { border-radius: 15px; width: 50%; }
