#map {
  height: 100vh;
  /*-webkit-filter: grayscale(100%);*/
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

[class$=api-load-alpha-banner] {
    display: none;
}

.shadow { filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.6)); }

.outdated { background-color: #bbb; }
.outdated::after { border-top: 8px solid #bbb; }

.excellent-air { background-color: #31e060; }
.excellent-air::after { border-top: 8px solid #31e060; }

.good-air { background-color: #a0c936; }
.good-air::after { border-top: 8px solid #a0c936; }

.moderate-air { background-color: #facf39; }
.moderate-air::after { border-top: 8px solid #facf39; }

.unhealthy-sensitive-air { background-color: #f99049; }
.unhealthy-sensitive-air::after { border-top: 8px solid #f99049; }

.unhealthy-air { background-color: #f65e5f; }
.unhealthy-air::after { border-top: 8px solid #f65e5f; }

.very-unhealthy-air { background-color: #a070b6; }
.very-unhealthy-air::after { border-top: 8px solid #a070b6; }

.hazardous-air { background-color: #a06a7b; }
.hazardous-air::after { border-top: 8px solid #a06a7b; }

.pm25-geopoint {
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 7px;
  position: relative;
}

.pm25-geopoint::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
