:root > * {
    --md-primary-fg-color: #151729;
    --md-accent-fg-color: #ff425e;
    /*--md-typeset-a-color: #fa2367;*/
}

.md-content__inner a,
.md-sidebar__inner a.md-nav__link--active { color: #fa2367 !important; }

.md-content__inner a:hover,
.md-sidebar__inner a.md-nav__link--active:hover { color: #ff425e !important; }

.video-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}
.video-wrapper > iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.ethelia-text-svg {
    position:absolute;
    margin-top:10px;
    width:123px;
    height:36px;
    -webkit-filter: drop-shadow( 1px 1px 0px rgba(0, 0, 0, .7));
    filter: drop-shadow( 1px 1px 0px rgba(0, 0, 0, .7));
}

.mermaid {
    border-radius: 5px;
    padding: 20px;
    background-color: var(--md-code-bg-color);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

.highlight > pre > code {
    border-radius: 5px !important;
}

.md-content IMG {
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: 0 0 20px #111;
}

.md-content DETAILS {
    border: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: 4px solid #ff425e !important;
    border-radius: .1rem;
}

.md-content DETAILS SUMMARY::before {
    background-color: #ff425e !important;
}

.md-typeset .admonition.example,
.md-typeset .admonition.warning,
.md-typeset .admonition.note,
.md-typeset .admonition.abstract,
.md-typeset .admonition.info,
.md-typeset .admonition.tip,
.md-typeset .admonition.success,
.md-typeset .admonition.question,
.md-typeset .admonition.warning,
.md-typeset .admonition.failure,
.md-typeset .admonition.danger,
.md-typeset .admonition.bug,
.md-typeset .admonition.example,
.md-typeset .admonition.quote {
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left-width: 4px;
    border-left-style: solid;
    border-radius: .1rem;
}

.md-external-wip {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    background-color: rgb(250,35,103,.6);
    font-weight: bold;
}
