{% extends "base.html" %}

{% block header %}
<!-- gnome-text-editor /home/kostas/.local/lib/python3.10/site-packages/material/partials/header.html -->
{% set class = "md-header" %}
{% if "navigation.tabs.sticky" in features %}
  {% set class = class ~ " md-header--lifted" %}
{% endif %}
<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
    <symbol id="logo" viewBox="0 0 3954 565"><title>Ethelia</title><path fill="white" d="M421.84 562.04l0 -149.01 -257.39 0 0 -61.81 251.46 0 0 -149.01 -251.46 0 0 -55.88 257.39 0 0 -149.02 -428.42 0 0 564.73 428.42 0zm454.66 0l0 -415.71 150.71 0 0 -149.02 -473.29 0 0 149.02 151.55 0 0 415.71 171.03 0zm842.44 0l0 -564.73 -171.03 0 0 199.82 -202.35 0 0 -199.82 -171.03 0 0 564.73 171.03 0 0 -215.9 202.35 0 0 215.9 171.03 0zm606.22 0l0 -149.01 -257.39 0 0 -61.81 251.46 0 0 -149.01 -251.46 0 0 -55.88 257.39 0 0 -149.02 -428.42 0 0 564.73 428.42 0zm547.8 0l0 -149.01 -214.21 0 0 -415.72 -171.03 0 0 564.73 385.24 0zm325.97 0l0 -564.73 -171.03 0 0 564.73 171.03 0zm748.46 0l-208.29 -564.73 -215.05 0 -208.28 564.73 193.89 0 20.32 -66.04 203.2 0 20.32 66.04 193.89 0zm-259.93 -215.05l-111.76 0 55.88 -182.04 55.88 182.04z" /></symbol>
</svg>

<header class="{{ class }}" data-md-component="header">
  <nav class="md-header__inner md-grid" aria-label="{{ lang.t('header.title') }}">
    <a href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}" title="{{ config.site_name | e }}" class="md-header__button md-logo" aria-label="{{ config.site_name }}" data-md-component="logo">
      {% include "partials/logo.html" %}
    </a>
    <label class="md-header__button md-icon" for="__drawer">
      {% include ".icons/material/menu" ~ ".svg" %}
    </label>
    <div class="md-header__title" data-md-component="header-title">
      <div class="md-header__ellipsis">
        <div class="md-header__topic">
          <span class="md-ellipsis">
            <!--{{ config.site_name }}-->
            <a href="/"><svg class="ethelia-text-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg></a>
          </span>
        </div>
        <div class="md-header__topic" data-md-component="header-topic">
          <span class="md-ellipsis">
            {% if page.meta and page.meta.title %}
              {{ page.meta.title }}
            {% else %}
              {{ page.title }}
            {% endif %}
          </span>
        </div>
      </div>
    </div>
    {% if not config.theme.palette is mapping %}
      <form class="md-header__option" data-md-component="palette">
        {% for option in config.theme.palette %}
          {% set primary = option.primary | replace(" ", "-") | lower %}
          {% set accent  = option.accent  | replace(" ", "-") | lower %}
          <input class="md-option" data-md-color-media="{{ option.media }}" data-md-color-scheme="{{ option.scheme }}" data-md-color-primary="{{ primary }}" data-md-color-accent="{{ accent }}" {% if option.toggle %} aria-label="{{ option.toggle.name }}" {% else %} aria-hidden="true" {% endif %} type="radio" name="__palette" id="__palette_{{ loop.index }}">
          {% if option.toggle %}
            <label class="md-header__button md-icon" title="{{ option.toggle.name }}" for="__palette_{{ loop.index0 or loop.length }}" hidden>
              {% include ".icons/" ~ option.toggle.icon ~ ".svg" %}
            </label>
          {% endif %}
        {% endfor %}
      </form>
    {% endif %}
    {% if config.extra.alternate %}
      <div class="md-header__option">
        <div class="md-select">
          {% set icon = config.theme.icon.alternate or "material/translate" %}
          <button class="md-header__button md-icon" aria-label="{{ lang.t('select.language.title') }}">
            {% include ".icons/" ~ icon ~ ".svg" %}
          </button>
          <div class="md-select__inner">
            <ul class="md-select__list">
              {% for alt in config.extra.alternate %}
                <li class="md-select__item">
                  <a href="{{ alt.link | url }}" hreflang="{{ alt.lang }}" class="md-select__link">
                    {{ alt.name }}
                  </a>
                </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
    {% if "search" in config["plugins"] %}
      <label class="md-header__button md-icon" for="__search">
        {% include ".icons/material/magnify.svg" %}
      </label>
      {% include "partials/search.html" %}
    {% endif %}
    {% if config.repo_url %}
      <div class="md-header__source">
        {% include "partials/source.html" %}
      </div>
    {% endif %}
  </nav>
  {% if "navigation.tabs.sticky" in features %}
    {% if "navigation.tabs" in features %}
      {% include "partials/tabs.html" %}
    {% endif %}
  {% endif %}
</header>
{% endblock %}

{% block footer_ %}
{% endblock %}
