.the-smog-img {
    border-radius: 15px;
    opacity: 1;
    max-height: 90vh !important;
    box-shadow: 0px 0px 20px #000;
}

.smogchat-comments-img {
    border-radius: 15px;
    opacity: 1;
    max-height: 83vh !important;
    box-shadow: 0px 0px 20px #000;
    position: relative;
    left: 200px;
}

.ethelia-diagram-img {
    border-radius: 15px; opacity:.95; box-shadow: 0px 0px 20px #000; width: 65%;
}

.slide2-img {
    border-radius: 15px;
    opacity: .75;
    width: 85%;
    box-shadow: 0px 0px 20px #000;
}

.cube-sensor-img {
    border-radius: 15px; opacity:1; box-shadow: 0px 0px 20px #000; width: 85%;
}

.cube-sensor-qr-img {
    border-radius: 15px; opacity:.95; box-shadow: 0px 0px 20px #000; max-height: 90vh !important;
}

.cube-sensor-pn25-online-img {
    border-radius: 15px; opacity:.95; box-shadow: 0px 0px 20px #000; max-height: 90vh !important;
}

.rc-qr-img {
    border-radius: 15px;
    opacity: .8;
    margin-top: 2em;
    box-shadow: 0px 0px 20px #000;
}

.rate-img {
    border-radius: 15px;
    opacity: .8;
    margin-top: 2em;
    box-shadow: 0px 0px 20px #000;
    max-height: 50vh !important;
}

.smart-sphere-sensor-img {
    border-radius: 15px;
    opacity: .9;
    margin-top: 2em;
    box-shadow: 0px 0px 20px #000;
    max-height: 80vh !important;
}

.nomargin { margin: 0px !important; }
.nopad    { padding: 0px !important; }
.nopadright  { padding-right:  0px !important; }
.nopadtop    { padding-top:    0px !important; }
.nopadbottom { padding-bottom: 0px !important; }
.nopadleft   { padding-left:   0px !important; }
.font20   { font-size: 20pt; }
.fclrgrey { color: grey; }
.statscol { display: inline-block; width: 40%; text-align: left; }
.statstxt { font-size: 60pt; font-weight: bold; }
.textnote { display: inline-block; color: grey; width: 30px; }
.mt10pt   { margin-top: 10pt !important;  }
.mt30pt   { margin-top: 30pt !important;  }
.mt40pt   { margin-top: 40pt !important;  }
.mt10px   { margin-top: 10px; }
.nomtop   { margin-top: 0px; }
.ml45perc { margin-left: 45%; }
.ml25px   { margin-left: 15px; }
.pl40perc { padding-left: 40%; }
.pl25perc { padding-left: 25%; }
.pl10perc { padding-left: 10%; }
.pl5perc  { padding-left: 5%; }
.pl4perc  { padding-left: 4%; }
.pl8perc { padding-left: 8%; }
.txtleft  { text-align: left; }
.txtright { text-align: right; }
.link     { font-weight: bold; color: #ebb92f; }
.opacity9 { opacity:.9 }
.opacity7 { opacity:.7 }
.opacity5 { opacity:.5 }
.opacity3 { opacity:.3 }
.opacity2 { opacity:.2 }
.opacity15  { opacity:.15 }
.wdth50px   { width: 50px; }
.wdth320px  { width: 320px !important; }
.height50vh { height: 50vh; }
.height20vh { height: 20vh; }
.wdth80perc   { width: 80%; }
.wdth70perc   { width: 70%; }
.wdth60perc   { width: 60%; }
.wdth40perc   { width: 40%; }
.wdth30perc   { width: 30%; }
.wdth100perc   { width: 100%; }

.slide4-tab {
    border-radius: 15px;
    padding: 40px;
    width: 860px;
    background-color: rgba(0, 0, 0, .3)
}

.slide4-col-text-1 { font-size: 23pt; display: inline-block; color: #fff; width: 350px; font-weight: bold; }
.slide4-col-text-2 { display: inline-block; color: #fff; width: 210px; text-align: center; font-size: 30pt; }
.slide4-col-text-3 { display: inline-block; color: #fff; width: 210px; opacity: .9;  text-align: center; font-size: 30pt; }

.slide4-h-tweak-1 { display: inline-block; width: 350px; }
.slide4-h-tweak-2 { display: inline-block; width: 210px; text-align:center; }
.slide4-h-tweak-3 { display: inline-block; width: 210px; color:grey; text-align:center; }

.slide5-img { border-radius: 15px; opacity:.9; box-shadow: 0px 0px 20px #000; width: 100%; }

.slide6txt { margin: 5px; font-size: 28pt; }

.slide7-row { display: inline-block; width: 300px; text-align: left; }

.slide8 { margin-top: -20px; text-align: left; padding-left: 35%; color: #150026; }
.slide-short-term-txt { margin: 5px; font-size: 32pt; }
.slide-middle-term-txt { margin: 5px; font-size: 26pt; }
.slide-story-txt { margin: 5px; font-size: 20pt; }
.slide-long-term-txt { margin: 5px; font-size: 30pt; }

.slide10 { text-align: left; padding-left: 10%; }
.slide10-row { display: inline-block; width: 250px; text-align: center; }
.slide10-img { border-radius: 50%; width: 200px; height: 200px; }

.tg-qr-img { border-radius: 15px; width: 30%; }

.presi-blockchain-as-a-storage-background {
    background: linear-gradient(45deg, rgba(36,198,232,1) 0%, rgba(7,99,203,1) 25%, rgba(35,4,152,1) 52%, rgba(90,0,129,1) 100%);
}

.presi-slide-16-background {
    background: linear-gradient(45deg, rgba(59,6,25,1) 0%, rgba(176,1,41,1) 48%, rgba(176,146,1,1) 100%);
}

.presi-slide-smart-sphere-background {
    background: linear-gradient(45deg, rgba(46,0,30,1) 0%, rgba(6,16,59,1) 50%, rgba(0,0,0,1) 100%);
}

.the-quote-img {
    text-align: left;
    width: 150px;
    opacity: .15;
}
